@model List<Application.ViewModel.RegionView.RegionViewModel>
@{
    ViewData["Title"] = "Mantenimiento Regiones";
}

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Crear Regiones</h1>
                <p class="lead text-muted">Una aplicacion hecha para crear regiones.</p>
                <p>
                <a asp-controller="Region" asp-action="Create" class="btn btn-primary">Create new regiones</a>
                </p>
            </div>
        </div>
    </section>

    <div class="row">
        @if (Model.Count == 0 || Model == null)
        {
            <h2>No hay Regiones</h2>
        }
        else
        {


        <section class="py-5 text-center container">
            <table class="table table-primary align-content-center table-striped">
                <thead>
                    <tr>

                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>


                @foreach (Application.ViewModel.RegionView.RegionViewModel item in Model)
                {
                    <tbody>
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Nombre</td>
                            <td>
                                <a asp-controller="Region" asp-action="Edit" asp-route-id="@item.Id" asp class="btn btn-sm btn-warning">Update</a>
                                <a asp-controller="Region" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>

                    </tbody>


                }

            </table>
        </section>
    }



</div>