@model Application.ViewModel.PokemonView.SavePokemonViewModel
@{
    ViewData["Title"] = "Delete Pokemon";
}
<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-heeader bg-danger text-light">
                <h4>Esta seguro que desea eleminar el pokemon @Model.Nombre</h4>
            </div>
            <div class="card-body">
                <form method="POST" asp-controller="Pokemon" asp-action="DeletePost">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Pokemon" asp-action="Index" class="btn btn-warning">Cancelar</a>
                </form>

            </div>
        </div>
    </div>
</div>